extends ./layout.jade

block content
    .container.centered
        h1 Guest Scan Page
        form.form-centered(id="guestScanForm" action="/guest" method="POST")
            input.form-control(type="text" id="barcode" name="barcode" placeholder="Scan Barcode" required autofocus)
            br
            input.form-control.btn.btn-primary(type="submit" name="submit" value="Log")
            
        
        