extends ./layout.jade

block content
    .container
        h1 How Many Guests?
        .row
            .btn-toolbar.btn-group.col-lg-12
                -for(var x = 1; x < numguests+1; x++)
                    a.btn.btn-primary.btn-lg(href="/guest/#{results[0].Unit}/#{x}") #{x}
