extends ./layout.jade

block content
    .container.centered
        h1 Invalid User
        br
        .container
            form.col-lg-12(id="residentScanForm" action="/resident" method="GET")
                input.btn.btn-primary.btn-block.btn-lg(type="submit" value="Scan Resident")
            form.col-lg-12(id="guestScanForm" action="/guest" method="GET")
                input.btn.btn-primary.btn-block.btn-lg(type="submit" value="Scan Guest")
