html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='Pool Pass Sign In System')
        meta(name='author', content='Stephen S. Johnson')
        
        //Bootstrap CSS
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css', rel='stylesheet')
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css' rel='stylesheet')
        
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
        
        
        
        .navbar.navbar-default.navbar-static-top(role='navigation')
            .container
                a.navbar-brand(href='/') A Building Pool Pass System
                .navbar-brand.pull-right Manhattan Pool & Leisure
    body.centered
        .container.col-lg-12.center-block
            title Pool Pass Sign In System
            block content
                    