extends ./layout.jade

block content
    script(src="./script.js")
    body(onload='init();')
        .media
            .media-left
                video.media-object(id="camFeed" autoplay)
            .media-body
            .media-right
                canvas.media-object(id="photo" width="320" height="240")
            br
            div     
                input.btn.btn-primary.btn-lg(type="button" value="Take Photo" onclick="takePhoto();")
            br
            div
                input.btn.btn-primary.btn-lg.btn-block(type="button" Value="Store Image" onclick="savePic();" id="download-pic")